# AICrypto

# Exploaratory Data Anaylysis 
### Imports

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib as plt
import numpy as np
from datasets import load_dataset

/Users/saamerarshad/Desktop/aicrypto/aicrypto/venv/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

### Dataset Imports

In [4]:

atbash_df = pd.read_csv("datasets/CipherBank_AtBash.csv")
dualavg_df = pd.read_csv("datasets/CipherBank_DualAverage.csv")
parityshift_df = pd.read_csv("datasets/CipherBank_ParityShift.csv")
logic_df = pd.read_csv("datasets/LOGIC-701.csv")

### EAD Area
---

In [ ]:
print(f"Unique:\n{atbash_df.nunique()}")
atbash_df.head()

Unique:
domain          5
sub_domain     14
plaintext     262
Atbash        262
dtype: int64

,domain,sub_domain,plaintext,Atbash
0,Personal Privacy Data,Identity Information,"Ledia, an American, resides in Los Angeles.","Ovwrz, zm Znvirxzm, ivhrwvh rm Olh Zmtvovh."
1,Personal Privacy Data,Identity Information,Dean holds the passport number A1084796.,Wvzm slowh gsv kzhhklig mfnyvi Z1084796.
2,Personal Privacy Data,Identity Information,Clark holds the ID Card Number 1931-9374-8919.,Xozip slowh gsv RW Xziw Mfnyvi 1931-9374-8919.
3,Personal Privacy Data,Identity Information,Paul will go to Vienna for a conference next y...,Kzfo droo tl gl Ervmmz uli z xlmuvivmxv mvcg b...
4,Personal Privacy Data,Identity Information,Emma often dates on Facebook without telling h...,Vnnz lugvm wzgvh lm Uzxvyllp drgslfg gvoormt s...

In [15]:
print(f"Unique:\n{dualavg_df.nunique()}")
dualavg_df.head()

Unique:
domain           5
sub_domain      14
plaintext      262
DualAvgCode    262
dtype: int64

,domain,sub_domain,plaintext,DualAvgCode
0,Personal Privacy Data,Identity Information,"Ledia, an American, resides in Los Angeles.","KMdfcehjaa, aamo AAlndfqshjbdaamo, qsdfrthjced..."
1,Personal Privacy Data,Identity Information,Dean holds the passport number A1084796.,CEdfaamo ginpkmcert sugidf oqaartrtoqnpqssu mo...
2,Personal Privacy Data,Identity Information,Clark holds the ID Card Number 1931-9374-8919.,BDkmaaqsjl ginpkmcert sugidf HJCE BDaaqsce MOt...
3,Personal Privacy Data,Identity Information,Paul will go to Vienna for a conference next y...,OQaatvkm vxhjkmkm fhnp sunp UWhjdfmomoaa egnpq...
4,Personal Privacy Data,Identity Information,Emma often dates on Facebook without telling h...,DFlnlnaa npegsudfmo ceaasudfrt npmo EGaabddfac...

In [16]:
print(f"Unique:\n{parityshift_df.nunique()}\n")
parityshift_df.head()

Unique:
domain           5
sub_domain      14
plaintext      262
ParityShift    262
dtype: int64

,domain,sub_domain,plaintext,ParityShift
0,Personal Privacy Data,Identity Information,"Ledia, an American, resides in Los Angeles.","Mdehz, zo Zldshbzo, sdrhedr ho Mnr Zofdmdr."
1,Personal Privacy Data,Identity Information,Dean holds the passport number A1084796.,Edzo inmer uid qzrrqnsu otlcds Z1084796.
2,Personal Privacy Data,Identity Information,Clark holds the ID Card Number 1931-9374-8919.,Bmzsj inmer uid HE Bzse Otlcds 1931-9374-8919.
3,Personal Privacy Data,Identity Information,Paul will go to Vienna for a conference next y...,Qztm vhmm fn un Whdooz gns z bnogdsdobd odyu x...
4,Personal Privacy Data,Identity Information,Emma often dates on Facebook without telling h...,Dllz ngudo ezudr no Gzbdcnnj vhuintu udmmhof i...

In [17]:
print(f"Unique:\n{logic_df.nunique()}\n")
logic_df.head()

Unique:
topic                     10
problem_statement        701
solution                 701
answer_option_1          500
answer_option_2          520
answer_option_3          531
answer_option_4          524
answer_option_5            1
correct_option_number      5
dtype: int64

,topic,problem_statement,solution,answer_option_1,answer_option_2,answer_option_3,answer_option_4,answer_option_5,correct_option_number
0,Optimization of actions and planning,"You have a list of tasks to complete: A, B, C,...","To minimize the time to complete all tasks, yo...",7 hours,8 hours,9 hours,10 hours,Another answer,2
1,Probability and statistics,"In a class of 30 students, 17 play basketball,...",To find the probability that a student swims o...,5/6,12/30,17/30,25/30,Another answer,1
2,Functions and Algorithms,Assume you have a function F(x) = 2x + 3. What...,"To find the value of x, we can set up the equa...",5,6,7,8,Another answer,3
3,Math problems,Imagine that you are creating numbered tickets...,The total number of sequences with 3 digits is...,270,280,290,300,Another answer,2
4,Math problems,"In a math competition, each competitor is give...",The maximum score a competitor can achieve is ...,20,24,16,26,Another answer,3

# Convert CipherBank into one dataset.

In [20]:
# Change column names to prevent confusion
# atbash_df = atbash_df.rename(columns={"":"ciphertext"})
# dualavg_df 
# parityshift_df 

atbash_df["algorithm"] = "AtBash"
atbash_df.head(3)

,domain,sub_domain,plaintext,Atbash,algorithm
0,Personal Privacy Data,Identity Information,"Ledia, an American, resides in Los Angeles.","Ovwrz, zm Znvirxzm, ivhrwvh rm Olh Zmtvovh.",AtBash
1,Personal Privacy Data,Identity Information,Dean holds the passport number A1084796.,Wvzm slowh gsv kzhhklig mfnyvi Z1084796.,AtBash
2,Personal Privacy Data,Identity Information,Clark holds the ID Card Number 1931-9374-8919.,Xozip slowh gsv RW Xziw Mfnyvi 1931-9374-8919.,AtBash

In [ ]:
cols = ["domain", "sub_domain", "plaintext", "Atbash", "Dual Average", "Parity Shift"]

atbash_df["algorithm"] = "ATBash"

# atbash_df = []
# dualavg_df = dualavg_df[columns]
# parityshift_df 
atbash_df.head(3)

# master_df = pd.concat([])

,domain,sub_domain,plaintext,Atbash,algorithm
0,Personal Privacy Data,Identity Information,"Ledia, an American, resides in Los Angeles.","Ovwrz, zm Znvirxzm, ivhrwvh rm Olh Zmtvovh.",ATBash
1,Personal Privacy Data,Identity Information,Dean holds the passport number A1084796.,Wvzm slowh gsv kzhhklig mfnyvi Z1084796.,ATBash
2,Personal Privacy Data,Identity Information,Clark holds the ID Card Number 1931-9374-8919.,Xozip slowh gsv RW Xziw Mfnyvi 1931-9374-8919.,ATBash

In [22]:
dualavg_df["algorithm"] = "Dual Average"
dualavg_df.head(3)

,domain,sub_domain,plaintext,DualAvgCode,algorithm
0,Personal Privacy Data,Identity Information,"Ledia, an American, resides in Los Angeles.","KMdfcehjaa, aamo AAlndfqshjbdaamo, qsdfrthjced...",Dual Average
1,Personal Privacy Data,Identity Information,Dean holds the passport number A1084796.,CEdfaamo ginpkmcert sugidf oqaartrtoqnpqssu mo...,Dual Average
2,Personal Privacy Data,Identity Information,Clark holds the ID Card Number 1931-9374-8919.,BDkmaaqsjl ginpkmcert sugidf HJCE BDaaqsce MOt...,Dual Average

In [29]:
parityshift_df["algorithm"] = "Parity Shift"
parityshift_df.head(3)

,domain,sub_domain,plaintext,ParityShift,algorithm
0,Personal Privacy Data,Identity Information,"Ledia, an American, resides in Los Angeles.","Mdehz, zo Zldshbzo, sdrhedr ho Mnr Zofdmdr.",Parity Shift
1,Personal Privacy Data,Identity Information,Dean holds the passport number A1084796.,Edzo inmer uid qzrrqnsu otlcds Z1084796.,Parity Shift
2,Personal Privacy Data,Identity Information,Clark holds the ID Card Number 1931-9374-8919.,Bmzsj inmer uid HE Bzse Otlcds 1931-9374-8919.,Parity Shift